@define-color border #7fc8ff;
@define-color background rgba(30, 30, 46, 0.85);
@define-color text-primary #d9d9d9;

* {
    font-family: JetBrainsMono Nerd Font, sans-serif;
    font-size: 16px;
    color: @text-primary;
}

/* Base Module Styles */
.modules-left,
.modules-center,
.modules-right {
    background-color: @background;
    padding: 0 12px;
    border-radius: 10px;
    border: 2px solid @border;
    margin: 0 4px;
}

/* Module Contents */
#network,
#cpu,
#memory,
#wireplumber,
#backlight,
#clock {
    padding: 0 8px;
}

/* Workspaces */
#workspaces button {
    padding: 4px 15px;
    background-color: transparent;
    color: @text-primary;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    background-color: rgba(127, 200, 255, 0.1);    
    color: @border;
}

#workspaces button.focused {
    box-shadow: inset 0 -3px #5c5b5b;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

/* Window Styles */
window#waybar {
    background-color: transparent;
    /* color: #ffffff; */
    transition: all 0.5s ease;
}

window#waybar.hidden {
    opacity: 0.2;
}
